*{
	margin: 0;
	padding: 0;
	font-family: "微软雅黑";
}
body{
	background-color: #00090A;
}
a{
	text-decoration: none;
	color: inherit;
}

#content-wrapper{
	position: relative;
	width: 100%;
	text-align: center;
}
#main-bgpic{
	width: 100%;
	height: 80%;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}
h1{
	display: block;
	position: absolute;
	left: 0;
	right: 0;
	top: 35%;
	font-size: 80px;
	font-weight: normal;
	color: white;
	text-shadow: 0 3px 3px rgba(16,16,16,0.5);
	text-align: center;
}
h4{
	display: block;
	position: absolute;
	left: 0;
	right: 0;
	top: calc(35% + 120px);
	font-size: 20px;
	font-weight: normal;
	color: white;
	text-shadow: 0 1px 1px rgba(16,16,16,0.5);
}
#wallpaper-address{
	display: block;
	position: absolute;
	left: 0;
	right: 0;
	top: calc(35% + 220px);
	font-size: 14px;
	color: rgba(255,255,255,0.6);
	text-shadow: 0 1px 1px rgba(16,16,16,0.5);
}

#article-wrapper{
	display: inline-block;
	position: absolute;
	left: 0;
	width: 100%;
	top: 80%;
	/*border: red 1px solid;*/
	box-sizing: border-box;
}
#article-backgroundfade{
	display: inline-block;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	/*height: js;*/
	background: linear-gradient(180deg,rgba(0,9,10,0),rgba(0,9,10,1));
}
#h3-lline{
	position: absolute;
	top: 70px;
	left: 15%;
	right: 60%;
	height: 1px;
	background: linear-gradient(90deg,rgba(255,255,255,0),rgba(255,255,255,1));
}
#h3-rline{
	position: absolute;
	top: 70px;
	right: 15%;
	left: 60%;
	height: 1px;
	background: linear-gradient(270deg,rgba(255,255,255,0),rgba(255,255,255,1));
}
h2{
	position: absolute;
	top: 50px;
	left: 0;
	right: 0;
	font-size: 30px;
	color: white;
}

.itemblock{
	display: inline-block;
	position: relative;
	width: calc(50% + 360px);
	left: 0;
	right: 0;
	height: 260px;
	margin: 40px auto;
	color: white;
	/*border: greenyellow 1px solid;*/
}
.thumbnailpic{
	position: absolute;
	left: 40px;
	top: 40px;
	height: 180px;
	width: 270px;
	object-fit: cover;
	border-radius: 8px;
	/*box-shadow: 0 0 0.8px 0.2px rgba(255,255,255,0.7), 0px 2px 2px -0.2px rgba(0,0,0,0.4);*/
	box-shadow: 0 -0.8px 0.2px -0.2px rgba(255,255,255,0.5), 0 1.2px 0.4px -0.2px rgba(0,0,0,0.3), 0px 2.5px 2.3px -0.5px rgba(0,0,0,0.3)
	/* 第二条 box-shadow 是安卓 4 风格 */
}
.itemblock-textarea{
	position: absolute;
	left: 280px;
	right: 40px;
	top: 10px;
	bottom: 10px;
	border: #31577E 2px solid;
	background-color: #1B2740;
	transition: background-color 0.1s linear;
}
.itemblock-textarea:hover{
	background-color: #557cf2;
}
.itemblock-textarea:active{
	background-color: #96affa;
}
h3{
	position: absolute;
	left: 60px;
	top: 10px;
	font-size: 32px;
}
.itemblock p{
	position: absolute;
	left: 60px;
	right: 40px;
	top: 70px;
	bottom: 10px;
	font-size: 16px;
	line-height: 24px;
	text-align: left;
	overflow: auto;	
}
.rightarrow{
	position: absolute;
	right: 10px;
	bottom: -40px;
	width: 180px;
	height: 180px;
	opacity: 0.2;
}
.rightarrow-text{
	position: absolute;
	right: 80px;
	bottom: 5px;
	width: 100px;
	font-size: 16px;
	opacity: 0.2;
	font-style: italic;
}

.beian{
	/*position: relative;*/
	display: inline-block;
	width: 100%;
	margin: 0 auto;
	padding: 20px 0;
	text-align: center;
}
